*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(235, 239, 243);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #ebeff3; 
}
   
::-webkit-scrollbar-thumb {
    background: #0000004d; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #00000069; 
}

#container{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 3px;
    border-radius: 8px;
    float: left;
    background-color: rgb(43, 43, 43);
    width: 70px;
    height: 99vh;
    position: fixed;
    justify-content: space-between;
    transition: width 0.4s;
    top: 0;
}

#container:hover{
    width: 230px;
}

#container:hover #menu{
    width: 230px;
}

.container-side {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.material-symbols-outlined {
    color: rgb(175, 175, 175);
    font-size: 30px !important;
    margin-top: 2px;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
}

#menu{
    background-color: rgba(255, 255, 255, 0.151);
    width: 69px;
    height: 60px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    transition: width 0.4s;
    justify-content: left;
}

.itens-nav{
    display: flex;
    border-radius: 5px;
    width: 35px;
    height: 43px;
    margin-top: 15px;
    padding-left: 6px;
    margin-left: 12px;
    transition: background-color 0.3s;
}

.itens-nav:hover{
    background-color: rgba(255, 255, 255, 0.151);
}
#container:hover .itens-nav{
    width: 196px;
}

.a-sidebar{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 196px;
}

.p-sidebar{
    margin-left: 8px;
    color: rgb(175, 175, 175);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s;
}

#container:hover .p-sidebar{
    opacity: 1;
}

.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    transition: margin-left 0.3s;
}

#logo-nav{
    margin-bottom: 10px;
    width: 45px;
    margin-left: 12px;
}

.a-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#invest-p-nav{
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 24px;
    color: rgb(228, 228, 228);
    font-weight: 500;
    font-style: italic;
    font-family: "Plus Jakarta Sans", sans-serif;
}

#container:hover #invest-p-nav{
    opacity: 1;
}

#container:hover .box-img{
    margin-left: 27px;
}
/* fim nav */
section h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 65px;
    color: #213691;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
section{
    margin-left: 17%;
    margin-right: 17%;
}
section h2{
    color: #213691;
    font-weight: bold;
    margin-top: 30px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 32px;
}
.p-texto p{
    padding-top: 11px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.p-texto p:not(.formula){
    text-align: justify;

}
section h4{
    color: #213691;
    font-weight: 500;
    margin-top: 30px;
    font-size: 23px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.formula{
    text-align: center;
}
strong{
    font-size: 22px;
}
#estrategias{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    color: rgb(0, 0, 0);
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.dicas h3{
    margin-top: 10px;
    text-align: right;
    font-size: 30px;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #395799;
}
.dicas{
    background-color: #395799;
    box-shadow: rgba(0, 0, 0, 0.164) 0px 54px 55px, rgba(0, 0, 0, 0.089) 0px -12px 30px, rgba(0, 0, 0, 0.082) 0px 4px 6px, rgba(0, 0, 0, 0.116) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: 207px;
    height: 250px;
    position: relative;
    top: 0;
}
.dicas:hover{
    transform: scale(1.03);
}
.dicas h4{
    color:#b3c8f7;
    font-weight: bold;
    margin-bottom: 10px;
}
.dicas p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    color: white;
}
iframe{
    margin-top: 30px;
    width: 302px;
    height: 200px;
    padding: 10px;  
}
.videos{
    display: grid;
    grid-template-columns: auto auto auto;
    top: 0;
    margin-bottom: 50px;
}
@media (max-width: 768px){
    section{
        margin-left: 26%;;
    }
    #estrategias{
        display: grid;
        grid-template-columns:  repeat(1, 1fr);
        grid-template-rows: auto;
    }
    .videos{
        display: flex;
        flex-direction: column;
    }
    iframe{
        width: 290px;
        height: 170px;
    }
}
@media (min-width:769px) and (max-width: 960px){
    #estrategias{
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
        grid-template-rows: auto;
    }
    .videos{
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
        grid-template-rows: auto;
    }
    iframe{
        width: 290px;
        height: 170px;
    }
}