*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #ebeff3; 
}
   
::-webkit-scrollbar-thumb {
    background: #0000004d; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #00000069; 
}

/* Início da navbar */

#container{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 3px;
    border-radius: 8px;
    float: left;
    background-color: rgb(43, 43, 43);
    width: 70px;
    height: 99vh;
    position: fixed;
    justify-content: space-between;
    z-index: 99;
    transition: width 0.4s;
}

#container:hover{
    width: 230px;
}

#container:hover #menu{
    width: 230px;
}

.container-side {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.material-symbols-outlined {
    color: rgb(175, 175, 175);
    font-size: 30px !important;
    margin-top: 2px;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
}

#menu{
    background-color: rgba(255, 255, 255, 0.151);
    width: 69px;
    height: 60px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    transition: width 0.4s;
    justify-content: left;
}

.itens-nav{
    display: flex;
    border-radius: 5px;
    width: 35px;
    height: 43px;
    margin-top: 15px;
    padding-left: 6px;
    margin-left: 12px;
    transition: background-color 0.3s;
}

.itens-nav:hover{
    background-color: rgba(255, 255, 255, 0.151);
}
#container:hover .itens-nav{
    width: 196px;
}

.a-sidebar{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 196px;
}

.p-sidebar{
    margin-left: 8px;
    color: rgb(175, 175, 175);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s;
}

#container:hover .p-sidebar{
    opacity: 1;
}

.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    transition: margin-left 0.3s;
}

#logo-nav{
    margin-bottom: 10px;
    width: 45px;
    margin-left: 12px;
}

.a-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#invest-p-nav{
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 24px;
    color: rgb(228, 228, 228);
    font-weight: 500;
    font-style: italic;
    font-family: "Plus Jakarta Sans", sans-serif;
}

#container:hover #invest-p-nav{
    opacity: 1;
}

#container:hover .box-img{
    margin-left: 27px;
}

/* fim da navbar */

#home-sect-1{
    padding-left: 77px;
    background-color: #ebeff3;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#text-box-sect-1{
    width: 480px;
}

h1{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 50px;
    color: #213691;
}

#home-first-p{
    margin-top: 18px;
    font-size: 23px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #494949;
    font-weight: 500;
}

#business{
    width: 610px;
    height: 550px;
}

#home-sect-2{
    padding-left: 77px;
    background-color: #ebeff3;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#intro-h2{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 34px;
    color: #213691;
    text-align: center;
    margin-bottom: 30px;
}

#intro-p{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 960px;
    text-align:justify;
}

h3{
    color: #213691;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 34px;
    text-align: center;
    margin-bottom: 75px;
}

.imp-na-mat-financeira{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.pss-importantes{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

.text-pss-importantes{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 15px;
    width: 710px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align:justify;
}

.nome-pss-importantes{
    margin-bottom: 15px;
    color: #213691 !important;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

#home-sect-3{
    padding-left: 77px;
    background-color: #ebeff3;
    height: 130vh;
}