*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Início da navbar */

#container{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 3px;
    border-radius: 8px;
    float: left;
    background-color: rgb(43, 43, 43);
    width: 70px;
    height: 99vh;
    position: fixed;
    justify-content: space-between;
    z-index: 99;
    transition: width 0.4s;
}

#container:hover{
    width: 230px;
}

#container:hover #menu{
    width: 230px;
}

.container-side {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.material-symbols-outlined {
    color: rgb(175, 175, 175);
    font-size: 30px !important;
    margin-top: 2px;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
}

#menu{
    background-color: rgba(255, 255, 255, 0.151);
    width: 69px;
    height: 60px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    transition: width 0.4s;
    justify-content: left;
}

.itens-nav{
    display: flex;
    border-radius: 5px;
    width: 35px;
    height: 43px;
    margin-top: 15px;
    padding-left: 6px;
    margin-left: 12px;
    transition: background-color 0.3s;
}

.itens-nav:hover{
    background-color: rgba(255, 255, 255, 0.151);
}
#container:hover .itens-nav{
    width: 196px;
}

.a-sidebar{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.p-sidebar{
    margin-left: 8px;
    color: rgb(175, 175, 175);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s;
}

#container:hover .p-sidebar{
    opacity: 1;
}

.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    transition: margin-left 0.3s;
}

#logo-nav{
    margin-bottom: 10px;
    width: 45px;
    margin-left: 12px;
}

.a-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#invest-p-nav{
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 24px;
    color: rgb(228, 228, 228);
    font-weight: 500;
    font-style: italic;
    font-family: "Plus Jakarta Sans", sans-serif;
}

#container:hover #invest-p-nav{
    opacity: 1;
}

#container:hover .box-img{
    margin-left: 27px;
}

/* fim da navbar */

#gradiente{
    background: rgb(235,239,243);
    background: linear-gradient(90deg, rgba(235,239,243,1) 65%, rgba(0,0,0,0) 100%);
    position: absolute;
    z-index: 2;
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#invest-black-home{
    margin-left: 170px;
    width: 300px;
}

#home-sect-1{
    padding-left: 77px;
    background-image: url(../img/investimentos.jpeg);
    width: 94.95%;
    height: 100vh;
}

#home-sect-2{
    padding-left: 77px;
    background-color: #ebeff3;
    height: 50vh;
}